/**responsive**/
@media all and (min-width: 768px) and (max-width: 992px) {
body {
    width: auto;
  }
  nav {
    width: 100px;
  }
  nav div {
    flex-direction: column;
    width: 220px;
  }
  .menu__li{
    margin-right: 140px;
  }
  .menu__li:hover {
  border-bottom: solid;
  color: #2c80fd;
  border-top: none;
}
  strong {
    text-align: center;
  }
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    flex-direction: column;
    text-align: left;
  }
  .formulaire {
    text-align: center;
  }
  article {
    text-align: start;
    margin-bottom: 20px;
  }
  .logo {
    width: 110px;
    height: 50px;
  }
  .touthebergements {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 500px;
    margin-left: 150px;
  }
   #activites {
    flex-direction: column;
    align-items: center;
  }
  .imageactivites {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
  
}
.imageactivites img {
  height: 150px;
  object-fit: cover;
  width: 400px;
  border-radius:20px 20px 0 0;
}
  .styledeux {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
}
.stylequatre{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
}
.stylequatre img{
   border-radius:20px 20px 0 0;
  object-fit: cover;
}
.styledeux img {
  border-radius:20px 20px 0 0;
  object-fit: cover;
  width: 400px;
}
.stylecinq{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
  margin-top: 0;
}
.stylecinq img{
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.notredame{
  height: 150px;
  width: 400px;
}
.parc{
  height: 150px;
  width: 400px;
}
.fortdepomegue{
  height: 150px;
  width: 400px;
}
.iles{
  height: 150px;
  width: 400px;
}
  .titre2 {
    text-align: left;
  }
  .titre3 {
    text-align: left;
    margin: 0px;
  }
  .titre4 {
    text-align: left;
    margin: 0px;
  }
  .images {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .ranger-a {
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
    height: 320px;
    margin-left: 0;
    margin-right: 0;
  }
  .ranger-a img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
  .photohebergement {
    flex-direction: column;
    align-items: center;
  }
  .etoile {
    flex-direction: column;
    text-align: left;
  }
  .etoileee {
    flex-direction: column;
    text-align: left;
  }
  .etoiles {
    flex-direction: column;
    text-align: left;
  }
  aside {
    order: -1;
    width: auto;
    margin-top: 200px;
    height: auto;
    margin-left: 0px;
  }
  .imgaside {
    width: auto;
  }
  .populaires {
    width: 490px;
  }
  .popu {
    width: auto;
  }
  h3 {
    font-size: 15px;
  }
  .p2{
    margin-left: 0;
  }
  #hebergement {
    width: auto;
    flex-direction: column;
    height: auto;
    background: none;
  }
  footer {
    width: auto;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
    background-color: #F2F2F2;
  }
  .menu {
    order: 1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
  }
  .inscription {
    order: -1;
    align-items: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-left:50px;
    margin-bottom: 50px;
  }
  .inscription a {
    color: #6fa7fd;
  }
  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}

input {
  border: solid lightgrey 1px;
}
.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;

}
.emo_map-marker {
  background-color: lightgrey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
     border: solid lightgrey 1px;
     border-left: none;
}
.button__icone{
  display: block;
}
.button__recherche{
  display: none;
}
}