
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav div {
  display: flex;
  justify-content: flex-end;
}
nav li {
  list-style: none;
  margin-left: 40px;
  padding-top: 20px;
}
.menu__li{
  margin-left: 75px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu__li:hover {
  border-top: solid;
  color: #2c80fd;
}
.menu__li:hover a {
  color: #2c80fd;
  text-decoration: none;
}
.filtre a:hover {
  color: #2c80fd;
}
.emote {
  display: flex;
  padding: 10px;
}
.logements {
  margin-bottom: 90px;
}
.texte {
  margin-left: 15px;
  font-weight: normal;
}
.filtre {
  display: flex;
  margin-bottom: 90px;
}
.emoticone {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background-color: white;
  padding-right: 10px;
  border: 2px solid #efefef;
}

.emo-billet {
  border-radius: 30px;
  background-color: #DEEBFF;
  border-width: 10px;
  padding: 9px;
  color: #0065fc;
}
.emo-famille {
  border-radius: 30px;
  background-color: #DEEBFF;
  padding: 9px;
  color: #0065fc;
}
.emo-romantique {
  border-radius: 30px;
  background-color: #DEEBFF;
  padding: 9px;
  color: #0065fc;
}
.emo-animaux {
  border-radius: 30px;
  background-color: #DEEBFF;
  padding: 9px;
  color: #0065fc;
}
.emo-info {
  border-radius: 150%;
  border: 1px solid #DEEBFF;
  padding: 8px;
  color: #0065fc;
}
.emo-recherche{
  display: none;
}
.p1 {
  font-weight: bold;
}
.p2 {
  padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}
h1{
  font-size: 25px;
}
h2{
   padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}

.logo {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}
.inscription a {
  color: #6fa7fd;
  font-weight: bold;
}
.inscription{
  margin-top: 0px;
  margin-right: 30px;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}

input {
  border: solid lightgrey 1px;
}

.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;
   height: 40px;
}

.fort {
  font-weight: bold;
  margin-top: 7px;
}
span {
  margin-left: 5px;
  font-weight: bolder;
  border: 5px red;
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 10px;
}

.emo-map-marker {
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
     border: solid lightgrey 1px;
     border-left: none;
}

#hebergement {
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 30px;
  height: 800px;
}

.images {
  display: flex;
  height: 50%;
}
.images img {
  width: 80%;
  height: 200px;
}
h4 {
 
   font-weight: bolder;
  font-size: 16px;
}
aside {
  width: 40%;
  background-color: #F2F2F2;
  border-radius: 30px;
  margin-left: 30px;
  padding-left: 35px;
  padding-right: 35px;
}
.touthebergements {
  display: flex;
  width: 100%;
}
.imgaside {
  display: block;
}
.imgaside img {
  width: 40%;
  margin-left: 40px;
}

footer {
  margin-top: 110px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.titre3 {
  margin: 0 120px;
}
.titre4 {
  margin: 0 120px;
}

a {
  color: black;
  text-decoration: none;
}
footer li {
  list-style: none;
}

figcaption {
  padding-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.populaires {
  display: flex;
  background-color: white;
  border-radius: 30px;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  border: 5px solid white;
  box-shadow: 10px 5px 5px #f5f5f5;
}
h3 {
  padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}

.populaires img {
  margin: 0;
  width: 40%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.popu {
  margin-left: 20px;
}
.container3 {
  margin-left: 20px;
}
.p3 {
  margin-left: 20px;
}
.ranger-a {
  background-color: white;
  margin: 0 25px;
  border-radius: 20px;
  height: 245px;
  border: 5px white;
  border: 5px solid white;
  box-shadow: 10px 5px 5px #f5f5f5;
  width: 100%;
}

.ranger-a img {
  width: 100%;
  height: 110px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.emo-star{
  color: #F2F2F2;
}
.etoile {
  margin-left: 20px;
  color: #0065fc;
  padding-bottom: 20px;
}
.etoiles {
  margin-left: 20px;
  color: #0065fc;
}

.etoileee {
  margin-left: 20px;
  color: #0065fc;
}
.etoilee{
  color: #0065fc;
}
#activites {
  display: flex;
  height: 10%;
}
.imageactivites {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
}
.imageactivites img {
  height: 380px;
  object-fit: cover;
  width: 280px;
  border-radius:20px 20px 0 0;
}
.styledeux {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-right: 0;
  margin-left: 0;

}
.stylequatre{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 50px;

}
.stylequatre img{
   border-radius:20px 20px 0 0;
  object-fit: cover;
}
.styledeux img {
  border-radius:20px 20px 0 0;
  object-fit: cover;
}
.stylecinq{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50px;
}
.stylecinq img{
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.notredame{
  height: 130px;
  width: 280px;
}
.parc{
  height: 150px;
  width: 280px;
}
.fortdepomegue{
  height: 175px;
  width: 300px;
}
.iles{
  height: 110px;
  width: 300px;
}
/**responsive**/
@media all and (min-width: 1024px) and (max-width: 1600px) {
  body {
    width: auto;
  }
  nav {
    width: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
body {
    width: auto;
  }
  nav {
    width: 150px;
  }
  nav div {
    flex-direction: column;
    width: 200px;
  }
  .menu__li{
    margin-right: 330px;
  }
  strong {
    text-align: center;
  }
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    flex-direction: column;
    text-align: left;
  }
  .formulaire {
    text-align: center;
  }
  article {
    text-align: start;
    margin-bottom: 20px;
  }
  .logo {
    width: 110px;
    height: 50px;
  }
  .touthebergements {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 500px;
    margin-left: 300px;
  }
  #activites {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .imageactivites {
    width: auto;

  }
  .imageactivites img{
    width: 400px;
  }
  .styledeux {
    width: auto;
    height: 240px;
    margin-left: 75px;
  }
  .styledeux img{
    height: 200px;
    width: 350px;
  }
  .titre2 {
    text-align: left;
  }
  .titre3 {
    text-align: left;
    margin: 0px;
  }
  .titre4 {
    text-align: left;
    margin: 0px;
  }
  .images {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .ranger-a {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .photohebergement {
    flex-direction: column;
    align-items: center;
  }
  .etoile {
    flex-direction: column;
    text-align: left;
  }
  .etoileee {
    flex-direction: column;
    text-align: left;
  }
  .etoiles {
    flex-direction: column;
    text-align: left;
  }
  aside {
    width: auto;
    margin-top: 200px;
    height: auto;
    margin-left: 0px;
  }
  .imgaside {
    width: auto;
  }
  .populaires {
    width: auto;
  }
  .popu {
    width: auto;
  }
  h3 {
    font-size: 15px;
  }
  #hebergement {
    width: auto;
    flex-direction: column;
    height: auto;
  }
  footer {
    width: auto;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
    background-color: #F2F2F2;
  }
  .menu {
    order: 1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
  }
  .inscription {
    order: -1;
    align-items: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-left:50px;
    margin-bottom: 50px;
  }
  .inscription a {
    color: #6fa7fd;
  }
  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}

input {
  border: solid lightgrey 1px;
}
.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;

}
.emo_map-marker {
  background-color: lightgrey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
     border: solid lightgrey 1px;
     border-left: none;
}
.styletrois{
  align-items: center;
  margin-right: 45px;
}
.large{
  align-items: center;

}
.emo-recherche{
  display: block;
}
.button__recherche{
  display: none;
}
}

@media all and (min-width: 320px) and (max-width: 768px) {
  body {
    width: auto;
  }
  nav {
    width: 150px;
  }
  nav div {
    flex-direction: column;
    width: 200px;
  }
  .menu__li{
    margin-right: 20px;
  }
  .menu__li:hover {
  border-bottom: solid;
  color: #2c80fd;
  border-top: none;
}
.menu__li:hover a {
  color: #2c80fd;
  text-decoration: none;
}
  strong {
    text-align: center;
  }
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    flex-direction: column;
    text-align: left;
  }
  .formulaire {
    text-align: center;
  }
  article {
    text-align: start;
    margin-bottom: 20px;
  }
  .logo {
    width: 110px;
    height: 50px;
  }
  .touthebergements {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  #activites {
    flex-direction: column;
    align-items: center;
  }
  .imageactivites {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
  
}
.imageactivites img {
  height: 150px;
  object-fit: cover;
  width: 300px;
  border-radius:20px 20px 0 0;
}
  .styledeux {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
}
.stylequatre{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
}
.stylequatre img{
   border-radius:20px 20px 0 0;
  object-fit: cover;
}
.styledeux img {
  border-radius:20px 20px 0 0;
  object-fit: cover;
}
.stylecinq{
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 5px 5px lightgrey;
  border: 5px white;
  margin-bottom: 5px;
}
.stylecinq img{
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.notredame{
  height: 150px;
  width: 300px;
}
.parc{
  height: 150px;
  width: 300px;
}
.fortdepomegue{
  height: 150px;
  width: 300px;
}
.iles{
  height: 150px;
  width: 300px;
}
  .titre2 {
    text-align: left;
  }
  .titre3 {
    text-align: left;
    margin: 0px;
  }
  .titre4 {
    text-align: left;
    margin: 0px;
  }
  .images {
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 60px;
    margin: 0;

  }
  .ranger-a {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    height: 220px;
  }
  .ranger-a img {
  width: 100%;
  height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
  .photohebergement {
    flex-direction: column;
    align-items: center;
  }
  .etoile {
    flex-direction: column;
    text-align: left;
  }
  .etoileee {
    flex-direction: column;
    text-align: left;
  }
  .etoiles {
    flex-direction: column;
    text-align: left;
  }
  aside {
    width: auto;
    margin-top: 200px;
    height: auto;
    margin-left: 0px;
  }
  .imgaside {
    width: auto;
  }
  .populaires {
    width: auto;
  }
  .popu {
    width: auto;
  }
  h3 {
    font-size: 15px;
  }
  #hebergement {
    width: auto;
    flex-direction: column;
    height: auto;
    background-color: white;
  }
  footer {
    width: auto;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
  }
  .menu {
    order: 1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
  }
  .inscription {
    order: -1;
    align-items: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
  }
  .inscription a {
    color: #6fa7fd;
  }
label {
    margin: .4rem 0;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input {
  border: solid lightgrey 1px;
}
.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;

}
.emo_map-marker {
  background-color: lightgrey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
     border: solid lightgrey 1px;
     border-left: none;
}
.button__recherche{
  display: none;
}
.styletrois{
  align-items: center;
}
.large{
  align-items: center;
}
.emo-recherche{
  display: block;
}
}
