#container {
  width: 100%;
}
body {
  font-family: "Raleway", sans-serif;

  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav div {
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  margin-left: 20px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.menu__li:hover {
  border-top: solid;
  color: #2c80fd;
}
.menu__li:hover a {
  color: #2c80fd;
  text-decoration: none;
}
.filtre a:hover {
  color: #2c80fd;
}
.emote {
  display: flex;
  padding: 10px;
}
.logements {
  margin-bottom: 90px;
}
.texte {
  margin-left: 15px;
  font-weight: normal;
}
.filtre {
  display: flex;
  margin-bottom: 90px;
}
.emoticone {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background-color: white;
  padding-right: 10px;
  border: 2px solid #efefef;
}

.emo_billet {
  border-radius: 30px;
  background-color: #b0e0e6;
  border-width: 10px;
  padding: 9px;
  color: #0065fc;
}
.emo_famille {
  border-radius: 30px;
  background-color: #b0e0e6;
  padding: 9px;
  color: #0065fc;
}
.emo_romantique {
  border-radius: 30px;
  background-color: #b0e0e6;
  padding: 9px;
  color: #0065fc;
}
.emo_animaux {
  border-radius: 30px;
  background-color: #b0e0e6;
  padding: 9px;
  color: #0065fc;
}
.emo_info {
  border-radius: 150%;
  border: 1px solid #b0e0e6;
  padding: 8px;
  color: #0065fc;
}
.p1 {
  font-weight: bold;
}
.p2 {
  padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}
h1{
  font-size: 25px;
}
h2{
   padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}
.inscription a {
  color: #6fa7fd;
  font-weight: bold;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}

input {
  border: solid lightgrey 1px;
}

.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;
}

article {
  font-weight: bold;
  margin-top: 7px;
}
span {
  margin-left: 5px;
  font-weight: bolder;
  border: 5px red;
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 10px;
}

.emo_map-marker {
  background-color: lightgrey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
     border: solid lightgrey 1px;
     border-left: none;
}
.emo_recherche{
 color: white;
}
#hebergement {
  width: 100%;
  background-color: #efefef;
  border-radius: 30px;
  height: 800px;
}

.imagehaut {
  display: flex;
  height: 50%;
}
.imagehaut img {
  width: 80%;

  height: 200px;
}
.imagebas img {
  width: 80%;

  height: 200px;
}
.imagebas {
  display: flex;
  height: 50%;
}
h4 {
 
   font-weight: bold;
  font-size: 16px;
}
aside {
  width: 40%;
  background-color: #efefef;
  border-radius: 30px;
  margin-left: 30px;
  padding-left: 35px;
  padding-right: 35px;
}
.touthebergements {
  display: flex;
  width: 100%;
}
.imgaside {
  display: block;
}
.imgaside img {
  width: 40%;
  margin-left: 40px;
}
#activites {
  display: flex;
  height: 10%;
  margin-left: 10px;
}
.imageactivites {
  height: 400px;
  width: 100%;
  border-radius: 30px;
}
.imageactivites img {
  height: 110%;
  width: 130%;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #f5f5f5;

}
.styledeux {
  height: 240px;
  width: 60%;
  margin-left: 60px;
  
}
.styledeux img {
  width: 105%;
  height: 80%;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #f5f5f5;
}
footer {
  margin-top: 110px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.titre3 {
  margin: 0 120px;
}
.titre4 {
  margin: 0 120px;
}

a {
  color: black;
  text-decoration: none;
}
footer li {
  list-style: none;
}

figcaption {
  padding-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.fig3 img {
  height: 130px;
  width: 70%;
}
.fig3 {
  align-items: flex-start;
}
.figcaption {
  text-align: center;
  font-weight: bolder;
}
.populaires {
  display: flex;
  background-color: white;
  border-radius: 30px;
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
  border: 5px solid white;
  box-shadow: 10px 5px 5px #f5f5f5;
}
h3 {
  padding-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}
.populaires img {
  margin: 0;
  width: 40%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.popu {
  margin-left: 20px;
}
.container3 {
  margin-left: 20px;
}
.p3 {
  margin-left: 20px;
}
.rangerA {
  background-color: white;
  margin: 0 25px;
  border-radius: 30px;
  height: 250px;
  border: 5px white;
  border: 5px solid white;
  box-shadow: 10px 5px 5px #f5f5f5;
}
.rangerA img {
  width: 100%;
  height: 130px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.rangerB {
  background-color: white;
  margin: 0 25px;
  border-radius: 30px;
  height: 250px;
  border: 5px solid white;
  box-shadow: 10px 5px 5px #f5f5f5;
}
.rangerB img {
  width: 100%;
  height: 130px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.etoile {
  margin-left: 20px;
  color: #0065fc;
}
.etoiles {
  margin-left: 20px;
  color: #0065fc;
}

.etoileee {
  margin-left: 20px;
  color: #0065fc;
}
.etoilee{
  color: #0065fc;
}
.blanc {
  background-color: white;
  border-radius: 30px;
  height: 400px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.styletrois{
  flex-direction: column;
}
.large{
  width: 100%;
  padding-right: 110px;
}

/**responsive**/
@media all and (min-width: 1024px) and (max-width: 1600px) {
  body {
    width: auto;
  }
  nav {
    width: auto;
  }
}
@media all and (min-width: 905px) and (max-width: 1024px) {
  body {
    width: auto;
  }
  nav {
    width: auto;
  }
  strong {
    text-align: center;
  }
}
@media all and (min-width: 320px) and (max-width: 905px) {
  body {
    width: auto;
  }
  nav {
    width: 150px;
  }
  nav div {
    flex-direction: column;
    width: 200px;
  }
  .menu__li{
    margin-right: 20px;
  }
  strong {
    text-align: center;
  }
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    flex-direction: column;
    text-align: left;
  }
  .formulaire {
    text-align: center;
  }
  article {
    text-align: start;
    margin-bottom: 20px;
  }
  .logo {
    width: 110px;
    height: 50px;
  }
  .touthebergements {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  #activites {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .imageactivites {
    width: auto;
    padding-bottom: 100px;
  }
  .styledeux {
    width: auto;
    padding-bottom: 100px;
  }
  .titre2 {
    text-align: left;
  }
  .titre3 {
    text-align: left;
    margin: 0px;
  }
  .titre4 {
    text-align: left;
    margin: 0px;
  }
  .imagehaut {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .rangerA {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .imagebas {
    flex-direction: column;
  }
  .rangerB {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .photohebergement {
    flex-direction: column;
    align-items: center;
  }
  .etoile {
    flex-direction: column;
    text-align: left;
  }
  .etoileee {
    flex-direction: column;
    text-align: left;
  }
  .etoiles {
    flex-direction: column;
    text-align: left;
  }
  aside {
    width: auto;
    margin-top: 200px;
    height: auto;
    margin-left: 0px;
  }
  .imgaside {
    width: auto;
  }
  .populaires {
    width: auto;
  }
  .popu {
    width: auto;
  }
  h3 {
    font-size: 15px;
  }
  #hebergement {
    width: auto;
    flex-direction: column;
    height: auto;
  }
  footer {
    width: auto;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
  }
  .menu {
    order: 1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
  }
  .inscription {
    order: -1;
    align-items: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-left:50px;
    margin-bottom: 50px;
  }
  .inscription a {
    color: #6fa7fd;
  }
  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}

input {
  border: solid lightgrey 1px;
}
.recherche{
  display: flex;
   margin-bottom: 30px;
   padding-right: 20px;

}
.emo_map-marker {
  background-color: lightgrey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
   border: solid lightgrey 1px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
button {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
     border: solid lightgrey 1px;
     border-left: none;
}
.button__recherche{
  display: none;
}
.styletrois{
  align-items: center;
  margin-right: 35px;
}
.large{
  align-items: center;
  margin-left: 30px;
}
}
